.vis-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#maintitle {
    font-size: 80px;
    text-align: center;
    color: #ED6663;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #252222;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: #252222;
}

.heat_containter {
	width: 50%;
}

.content {
	font-size: 30px;
}


.page {
    width: 1024px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

.hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(145, 55, 55), transparent);
    padding-top: 5px;	
}
