
#main_t {
	font-size: 60px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #000000;
}

#main_p {
	font-size: 50px;
}

.graph_t {
	font-size: 50px;
}

.graph_p {
	font-size: 35px;
}

#map_concat {
	height: 800px;
	width: 800px;
}

#donut {
	height: 400px;
	width: 400px;
}

#heat_1 {
	height: 400px;
	width: 800px;
}

#heat_2 {
	height: 400px;
	width: 800px;
}

/* #map_concat {
} */

